/* .LandingPage {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
} */

/* .main {
  width: 100vw;
  background-image: url("../../../Image/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  object-fit: fill;
} */

